[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/artemshadrin/Insta
Environment=FLASK_APP=run.py
ExecStart=/home/artemshadrin/Insta/venv/bin/python -m flask run -h 0.0.0.0 -p 25000

[Install]
WantedBy=multi-user.target